/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides_container{
    position: relative;
}
.rslides{
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li{
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child{
    position: relative;
    display: block;
    float: left;
}

.rslides img{
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.centered-btns_nav{
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 15px;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    background: transparent url("assets/images/icon.png") no-repeat -98px -16px;
    margin-top: -45px;
    width: 11px;
    height: 16px;
}

.centered-btns_nav:hover{
    background-position: -87px -16px
}
.centered-btns_nav.next{
    left: auto;
    background-position: -65px -16px;
    right: 15px;
}
.centered-btns_nav.next:hover{
    background-position: -76px -16px
}

.transparent-btns_nav{
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    display: block;
    background: #fff; /* Fix for IE6-9 */
    opacity: 0;
    filter: alpha(opacity=1);
    width: 48%;
    text-indent: -9999px;
    overflow: hidden;
    height: 91%;
}
.transparent-btns_nav.next{
    left: auto;
    right: 0;
}


.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus{
    outline: none;
}

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs{
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
    text-align: center;
}

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li{
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
}

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a{
    text-indent: -9999px;
    width: 8px;
    height: 8px;
    background: transparent;
    border: 1px solid #fff;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a{
    background: #5aaa2e;
}
